<a href="https://colab.research.google.com/github/ms624atyale/Python_Basics/blob/main/17_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ğŸ“ŒğŸ“Œ About Dictionary

  - ì‚¬ì „ì— ìš”ì†Œ ì¶”ê°€
   - ì ˆì°¨ 
      
          i) ë¦¬ìŠ¤íŠ¸Aì— ìˆëŠ” ê° ì¸ë±ìŠ¤ì— ì—°ê²°ë˜ì–´ ìˆëŠ” ìš”ì†Œë¥¼ enumerate()function ì‚¬ìš©í•˜ì—¬ ë¨¼ì € ì¤€ë¹„
          ii) ë¦¬ìŠ¤íŠ¸Bì— ìˆëŠ” ê° ì¸ë±ìŠ¤ì— ì—°ê²°ë˜ì–´ ìˆëŠ” ìš”ì†Œë¥¼ valueë¡œ í• ë‹¹
          iii) ë¦¬ìŠ¤íŠ¸Aì˜ ìš”ì†Œì¸ kë¥¼ ìƒˆì‚¬ì „Cì—ì„œ keyë¡œ ì‚¬ìš©í•˜ê³  ì—¬ê¸°ì— ëŒ€ì‘í•˜ëŠ” value ê°’ì€ ë¦¬ìŠ¤íŠ¸Bì˜ ì¸ë±ìŠ¤ì— ëŒ€ì‘í•˜ëŠ” ìš”ì†Œì¸ val ë³€ìˆ˜ë¡œ ì‚¬ìš©í•œë‹¤. 

  - ì‚¬ì „ì— íŠ¹ì • ìš”ì†Œê°’ ë³€ê²½í•˜ê¸°
  - ì‚¬ì „ì˜ íŠ¹ì • ìš”ì†Œê°’ ì œê±°í•˜ê¸° (del dict['key']
  - ì‚¬ì „ì˜ ëª¨ë“  ìš”ì†Œ (key:value) ì œê±°í•˜ê¸° (variable.clear() module)
  - ì‚¬ì „ì—ì„œ keys ë§Œ ì¶”ì¶œí•˜ê¸° (vaiable.keys()module)
  - ì‚¬ì „ì—ì„œ ê°’ë§Œ ì¶”ì¶œí•˜ê¸° (variable.values()module)
  - ì‚¬ì „ì— ëª¨ë“  ìš”ì†Œë¥¼ ê°œë³„ì ìœ¼ë¡œ ì¶”ì¶œí•˜ê¸° (variable.items()module & for ~ in ~ )
  - ì‚¬ì „ì— íŠ¹ì • í‚¤ê°€ ì¡´ì¬í•˜ëŠ”ì§€ ì•„ë‹ˆë©´ ì—†ëŠ”ì§€ í™•ì¸í•˜ê¸° (if k in dictionary: else:)
  - ì‚¬ì „ ì •ë ¬í•˜ê¸° (sorted)

In [ ]:
#ê¸°ì¡´ì˜ ë¦¬ìŠ¤íŠ¸ 2 ê°œë¥¼ ì—°ê²°í•˜ì—¬ ìƒˆì‚¬ì „ì„ ë§Œë“¤ê¸° (íŒŒì´ì¬ 200ì œì—ëŠ” ì‚¬ì „ì— ìš”ì†Œ ì¶”ê°€ë¡œ ì œëª©ì´ ë˜ì–´ ìˆìŒ) 
solarkor = ['íƒœì–‘', 'ìˆ˜ì„±', 'ê¸ˆì„±', 'ì§€êµ¬', 'í™”ì„±', 'ëª©ì„±', 'í† ì„±', 'ì²œì™•ì„±', 'í•´ì™•ì„±']
solareng = ['Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Naptune']

solardict = {}

for i, k in enumerate(solarkor):
  val = solareng[i]
  solardict[k] = val

print(solardict)

{'íƒœì–‘': 'Sun', 'ìˆ˜ì„±': 'Mercury', 'ê¸ˆì„±': 'Venus', 'ì§€êµ¬': 'Earth', 'í™”ì„±': 'Mars', 'ëª©ì„±': 'Jupiter', 'í† ì„±': 'Saturn', 'ì²œì™•ì„±': 'Uranus', 'í•´ì™•ì„±': 'Naptune'}

In [ ]:
#exercise
listnumber = list(range(1,13))
listzodiac = ['ì', 'ì¶•', 'ì¸', 'ë¬˜', 'ì§„', 'ì‚¬', 'ì˜¤', 'ë¯¸', 'ì‹ ', 'ìœ ', 'ìˆ ', 'í•´'] 

dictnew = {}
for i, k in enumerate(listnumber):
  val = listzodiac[i]
  dictnew[k] = val

print(dictnew)

{1: 'ì', 2: 'ì¶•', 3: 'ì¸', 4: 'ë¬˜', 5: 'ì§„', 6: 'ì‚¬', 7: 'ì˜¤', 8: 'ë¯¸', 9: 'ì‹ ', 10: 'ìœ ', 11: 'ìˆ ', 12: 'í•´'}

In [ ]:
keys = list(range(1,13))
vals = ['ì', 'ì¶•', 'ì¸', 'ë¬˜', 'ì§„', 'ì‚¬', 'ì˜¤', 'ë¯¸', 'ì‹ ', 'ìœ ', 'ìˆ ', 'í•´'] 

dict = {}
for i, k in enumerate(keys):
  v = vals[i]
  dict[k] = v #ã„´ë‚´ê°€ ìŠ¤ìŠ¤ë¡œ ì´ ì½”ë“œë¼ì¸ì„ ìƒê°í•´ ë‚´ê¸° í˜ë“¦
print(dict)

{1: 'ì', 2: 'ì¶•', 3: 'ì¸', 4: 'ë¬˜', 5: 'ì§„', 6: 'ì‚¬', 7: 'ì˜¤', 8: 'ë¯¸', 9: 'ì‹ ', 10: 'ìœ ', 11: 'ìˆ ', 12: 'í•´'}

In [ ]:
#ì‚¬ì „ì˜ íŠ¹ì • ìš”ì†Œê°’ ë°˜ì˜í•˜ê¸°

zodiac = {1: 'ì', 2: 'ì¶•', 3: 'ì¸', 4: 'ë¬˜', 5: 'ì§„', 6: 'ì‚¬', 7: 'ì˜¤', 8: 'ë¯¸', 9: 'ì‹ ', 10: 'ìœ ', 11: 'ìˆ ', 12: 'í•´'}
zodiac[1]= 'ì¥'
print(zodiac)

galaxy = {'íƒœì–‘': 'Sun', 'ìˆ˜ì„±': 'Mercury', 'ê¸ˆì„±': 'Venus', 'ì§€êµ¬': 'Earth', 'í™”ì„±': 'Mars', 'ëª©ì„±': 'Jupiter', 'í† ì„±': 'Saturn', 'ì²œì™•ì„±': 'Uranus', 'í•´ì™•ì„±': 'Naptune'}
galaxy['íƒœì–‘'] = 'the Sun' #galaxyëŠ” ì‚¬ì „ì´ê¸° ë•Œë¬¸ì— integers ë¥¼ ì‚¬ìš©í•œ ì¸ë±ìŠ¤ë¥¼ ì‚¬ìš©í•˜ë©´ ì˜ë„í•œ ê²°ê³¼ê°€ ì•ˆë‚˜ì˜¤ê³  original dict ê²°ê³¼ë§Œ ë‚˜ì˜¨ë‹¤. 
print(galaxy)

{1: 'ì¥', 2: 'ì¶•', 3: 'ì¸', 4: 'ë¬˜', 5: 'ì§„', 6: 'ì‚¬', 7: 'ì˜¤', 8: 'ë¯¸', 9: 'ì‹ ', 10: 'ìœ ', 11: 'ìˆ ', 12: 'í•´'}
{'íƒœì–‘': 'the Sun', 'ìˆ˜ì„±': 'Mercury', 'ê¸ˆì„±': 'Venus', 'ì§€êµ¬': 'Earth', 'í™”ì„±': 'Mars', 'ëª©ì„±': 'Jupiter', 'í† ì„±': 'Saturn', 'ì²œì™•ì„±': 'Uranus', 'í•´ì™•ì„±': 'Naptune'}

In [ ]:
#ì‚¬ì „ì˜ íŠ¹ì • ìš”ì†Œê°’ ì œê±°í•˜ê¸° (del dict['key']

galaxy = {'íƒœì–‘': 'Sun', 'ìˆ˜ì„±': 'Mercury', 'ê¸ˆì„±': 'Venus', 'ì§€êµ¬': 'Earth', 'í™”ì„±': 'Mars', 'ëª©ì„±': 'Jupiter', 'í† ì„±': 'Saturn', 'ì²œì™•ì„±': 'Uranus', 'í•´ì™•ì„±': 'Naptune'}

del galaxy['ëª©ì„±']
print(galaxy)

{'íƒœì–‘': 'Sun', 'ìˆ˜ì„±': 'Mercury', 'ê¸ˆì„±': 'Venus', 'ì§€êµ¬': 'Earth', 'í™”ì„±': 'Mars', 'í† ì„±': 'Saturn', 'ì²œì™•ì„±': 'Uranus', 'í•´ì™•ì„±': 'Naptune'}

In [ ]:
#ì‚¬ì „ì˜ ëª¨ë“  ìš”ì†Œ (key:value) ì œê±°í•˜ê¸° (variable.clear() module)

galaxy = {'íƒœì–‘': 'Sun', 'ìˆ˜ì„±': 'Mercury', 'ê¸ˆì„±': 'Venus', 'ì§€êµ¬': 'Earth', 'í™”ì„±': 'Mars', 'ëª©ì„±': 'Jupiter', 'í† ì„±': 'Saturn', 'ì²œì™•ì„±': 'Uranus', 'í•´ì™•ì„±': 'Naptune'}
galaxy.clear() #empty dictionary ë¥¼ ë§Œë“¦
print(galaxy)

{}

In [4]:
# ì‚¬ì „ì—ì„œ ì¹´ë§Œ ì¶”ì¶œí•˜ê¸° ( + í•œ ê°œ ìš”ì†Œì˜ values ë³€ê²½ ë° í•œ ê°œ ìš”ì†Œ ì‚­ì œ) (variable.keys()module)

names = {'Sean':100000, 'Jennifer': 120000, 'Mike': 90000, 'William': 230000, 'Pamela': 45000, 'Emma': 70000}
ks = names.keys()
print(ks)

names['Pamela'] = 80000

del names['Emma']


for k in ks:
  print('Keys:%s \t Values: %d' %(k, names[k]))

dict_keys(['Sean', 'Jennifer', 'Mike', 'William', 'Pamela', 'Emma'])
Keys:Sean 	 Values: 100000
Keys:Jennifer 	 Values: 120000
Keys:Mike 	 Values: 90000
Keys:William 	 Values: 230000
Keys:Pamela 	 Values: 80000

In [7]:
# ì‚¬ì „ì—ì„œ ê°’ë§Œ ì¶”ì¶œí•˜ê¸° (variable.values()module)

names = {'Sean':100000, 'Jennifer': 120000, 'Mike': 90000, 'William': 230000, 'Pamela': 45000, 'Emma': 70000}
vs = names.values()
print(vs)

val_list = list(vs)
ret = sum(val_list)
print(ret)
print('ì‹ ìƒì•„ ìˆ˜ ì´ê³„:%d' %(ret))

dict_values([100000, 120000, 90000, 230000, 45000, 70000])
655000
ì‹ ìƒì•„ ìˆ˜ ì´ê³„:655000

In [17]:
#ì‚¬ì „ì— ëª¨ë“  ìš”ì†Œë¥¼ ê°œë³„ì ìœ¼ë¡œ ì¶”ì¶œí•˜ê¸° (variable.items()module & for ~ in ~ )
names = {'Sean':100000, 'Jennifer': 120000, 'Mike': 90000, 'William': 230000, 'Pamela': 45000, 'Emma': 70000}
it = names.items()
print(it)

for i in it:
  print(i) # for ~ it ~ êµ¬ë¬¸ì— ì‚¬ìš©ëœ i ìš”ì†Œì— í• ë‹¹í•œ ê²ƒì„ ì¶œë ¥í•˜ë¼ (*it ë³€ìˆ˜ ì•„ë‹ˆê³ !)

dict_items([('Sean', 100000), ('Jennifer', 120000), ('Mike', 90000), ('William', 230000), ('Pamela', 45000), ('Emma', 70000)])
('Sean', 100000)
('Jennifer', 120000)
('Mike', 90000)
('William', 230000)
('Pamela', 45000)
('Emma', 70000)

In [35]:
#ì‚¬ì „ì— íŠ¹ì • í‚¤ê°€ ì¡´ì¬í•˜ëŠ”ì§€ ì•„ë‹ˆë©´ ì—†ëŠ”ì§€ í™•ì¸í•˜ê¸° (if k in dictionary: else:)

names = {'Sean':100000, 'Jennifer': 120000, 'Mike': 90000, 'William': 230000, 'Pamela': 45000, 'Emma': 70000}

k = input('í‚¤ê°’ì„ ì…ë ¥í•˜ì„¸ìš”:')  #  colon ì€ '' ì•ˆì— ë„£ëŠ”ë‹¤ (*ë°–ì´ ì•„ë‹ˆê³ !)

if k in names:
  print('ì´ë¦„ì´ %s ì¸ ì‹ ìƒì•„ ìˆ«ìëŠ” %d ì…ë‹ˆë‹¤' %(k, names[k]))
else:
  print('ìë£Œì— %s ë¼ëŠ” ì´ë¦„ì€ ì—†ìŠµë‹ˆë‹¤' %k)

í‚¤ê°’ì„ ì…ë ¥í•˜ì„¸ìš”:Emma
ì´ë¦„ì´ Emma ì¸ ì‹ ìƒì•„ ìˆ«ìëŠ” 70000 ì…ë‹ˆë‹¤

In [41]:
#ì‚¬ì „ ì •ë ¤í•˜ê¸° (sorted()function)

names = {'Sean':100000, 'Jennifer': 120000, 'Mike': 90000, 'William': 230000, 'Pamela': 45000, 'Emma': 70000}
ret = sorted(names)
print(ret)
print(ret, reverse = True)

['Emma', 'Jennifer', 'Mike', 'Pamela', 'Sean', 'William']

TypeError: ignored