<a href="https://colab.research.google.com/github/ms624atyale/Python_Basics/blob/main/4_2_ForStatement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1ï¸âƒ£ FOR statements enable you to extract each one of elements from 1st element to the last from an objectê°ì²´ or a certain range of dataíŠ¹ì • ë²”ìœ„ì˜ ìë£Œ.

- ### <font color='red'> Example</font> from íŒŒì´ì¬ 200ì œ & what I understnad from sample scripts

        for êµ¬ì„±ìš”ì†Œ or/and ì•„ë˜ ì½”ë“œë¼ì¸ ë³€ìˆ˜ in ë²”ìœ„:
            ë°˜ë³µìœ¼ë¡œ ì‹¤í–‰í•  ì½”ë“œ

In [4]:
numbers = 1,2,3,4,5,6,7,8,9

for i in numbers: # 'i' represents for integers. 
  print(i)

1
2
3
4
5
6
7
8
9

In [5]:
#@markdown Similar exercise for a For Statement.

scope = [1,2,3,4,5]

for x in scope: # An alphabet can be anything you like after 'for'. 
  print(x)

1
2
3
4
5

In [6]:
#@markdown Similar exercise for a For Statement.

scope = [1,2,3,4,5]

for y in scope: # An alphabet can be anything you like after 'for'. 
  print(y)

1
2
3
4
5

##ğŸ‘€ Before you run the following code lines of FOR Statement, you need to know the following. 

ğŸ’Š Objectsê°ì²´ used in FOR statements are i) string, ii) list or tuple, iii) dictionary, iv) range(), v) objects that can be repeated. 

    The results depend on the number in (range ë²”ìœ„). 
    e.g., range(0) â¡ï¸  NONE, range(1) â¡ï¸ 0, range(2) â¡ï¸ 0,1, etc.

In [1]:
for i in range(1): 
  print (i)

0

In [7]:
fruits = ["apple", "banana", "grape", "strawberry", "pear", "mango"]

for i in fruits:
  print(i)

apple
banana
grape
strawberry
pear
mango

In [8]:
string='abcde'

for c in string:
  print(c)

a
b
c
d
e

In [9]:
list = [1,2,3,4,5]

for c in list:
  print(c)

1
2
3
4
5

In [10]:
dictionary={'a':97, 'b':98, 'c':99}

for c in dictionary:
  print(c)

a
b
c

In [11]:
for c in range(10):
  print(c)

0
1
2
3
4
5
6
7
8
9

# 2ï¸âƒ£ FOR ~ CONTINUE ~ BREAK

    for êµ¬ì„±ìš”ì†Œ í˜¹ì€ ì•„ë˜ ì½”ë“œë¼ì¸ ë³€ìˆ˜ in ë²”ìœ„:
      ...
      continue    # ë‹¤ìŒ ë°˜ë³µë¬¸ ìˆ˜í–‰
      ...
      break       # for ë°˜ë³µë¬¸ íƒˆì¶œ

In [12]:
scope=[1,2,3,4,5]

for x in scope:
  print(x)        #í™”ë©´ì— í•´ë‹¹ ì •ìˆ˜ë¥¼ ì¶œë ¥í•œ í›„ ê·¸ ìˆ˜ê°€ 3 ë³´ë‹¤ ì‘ìœ¼ë©´ ê·¸ ë‹¤ìŒ ìˆ«ìë¥¼ ì¶œë ¥í•˜ê³ , 3 ë³´ë‹¤ í¬ê±°ë‚˜ ê°™ìœ¼ë©´ ì¢…ë£Œ
  if x<3:
    continue      # ì´ ê²½ìš° continue ì—†ì´ë„ ì½”ë“œë¼ì¸ ì‘ì„± ê°€ëŠ¥
  else:
    break

1
2
3

2ï¸âƒ£ FOR ~ ELSE

    for ë³€ìˆ˜ in ë²”ìœ„:
      ë°˜ë³µ ì‹¤í–‰ ì½”ë“œ
    else:       
      for êµ¬ë¬¸ì´ ëª¨ë‘ ì‹¤í–‰ë˜ì—ˆì„ ë•Œ ì‹¤í–‰í•  ì½”ë“œ

In [ ]:
scope=[1,2,3,4,5]

for x in scope:
  print(x)         
  break             #ë°˜ë³µë¬¸ì´ breakì— ì˜í•´ ì¤‘ë‹¨ë¨ ì—†ì´ ì •ìƒì ìœ¼ë¡œ ëª¨ë‘ ì‹¤í–‰ë˜ì–´ì•¼ë§Œ íŠ¹ì • ì½”ë“œ ì‹¤í–‰í•  ê²½ìš° FOR ~ ELSE ì‚¬ìš©
else:
    print('Perfect')